/* 
    Document   : formPadrao
    Created on : Sep 7, 2011, 12:32:38 AM
    Author     : marcus
    Description:
        Purpose of the stylesheet follows.
*/


BODY {
	margin: 10px; FONT: 70.0% "Trebuchet MS", sans-serif
}
.demoHeaders {
	MARGIN-TOP: 2em
}
#dialog_link {
	POSITION: relative; PADDING-BOTTOM: 0.4em; PADDING-LEFT: 20px; PADDING-RIGHT: 1em; TEXT-DECORATION: none; PADDING-TOP: 0.4em
}
#dialog_link SPAN.ui-icon {
	POSITION: absolute; MARGIN: -8px 5px 0px 0px; TOP: 50%; LEFT: 0.2em
}
UL#icons {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL#icons LI {
	POSITION: relative; PADDING-BOTTOM: 4px; LIST-STYLE-TYPE: none; MARGIN: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; CURSOR: pointer; LIST-STYLE-IMAGE: none; PADDING-TOP: 4px
}
UL#icons SPAN.ui-icon {
	MARGIN: 0px 4px; FLOAT: left
}
